section.player {
  flex-shrink: 0;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;

  .players {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    > .player {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    iframe {
      flex-grow: 1;
    }
  }
}
