doctype html
html
  head
    title Pandemic Chat
    if useExternalStyles
      link(rel="stylesheet", href="/build/application.css")

  body
    h1 Hello, world!
    script(src="/build/vendor.js")
    script(src="/build/application.js")
